# Ignore Visual Studio temporary files, build results, and sensitive files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vsidx
TestResults/
_ReSharper*/
*.dbmdl
*.pdb
*.mdb
*.opendb
*.vscode/
*.DS_Store
*.swp
*.tmp
*.bak
*.ncb
*.aps
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
